$color-primary: #fc4747;
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;500&display=swap");

$color-error: #fc4747;
$bg-color-primary: #10141e;
$bg-color-secondary: #161d2f;
$txt-color-primary: #fff;
$txt-color-secondary: #5a698f;

$heading-L: 32px;
$heading-M: 24px;
$heading-S: 24px;
$heading-XS: 18px;
$font-primary: 15px;
$font-primary-mobile: 13px;

h1,
h2,
h3,
p {
  margin: 0;
}

@mixin heading-L() {
  font-size: 32px;
  font-weight: 300;
}

@mixin heading-M() {
  font-size: 24px;
  font-weight: 300;
}

@mixin heading-S() {
  font-size: 24px;
  font-weight: 500;
}

@mixin heading-XS() {
  font-size: 18px;
  font-weight: 500;
}

@mixin body-S {
  font-size: 13px;
  font-weight: 300;
}

@mixin mobile-only {
  @media all and (max-width: 375px) {
    @content;
  }
}

@mixin tablet-only {
  @media all and (max-width: 768px) {
    @content;
  }
}

html {
  font-size: $font-primary;
}

body {
  position: relative;
  margin: 0;
  font-family: "Outfit", sans-serif;
  font-weight: 300;
  background-color: $bg-color-primary;
  color: $txt-color-primary;
}

.main {
  margin-left: 164px;
  margin-top: 130px;

  @include tablet-only() {
    margin-top: 193px;
    margin-left: 25px;
  }

  @include mobile-only() {
    margin-top: 128px;
    margin-left: 16px;
  }
}

.section {
  //   overflow: hidden;
  &__header {
    margin-bottom: 25px;

    @include mobile-only() {
      margin-bottom: 16px;
    }
    &__title {
      @include heading-L();

      @include mobile-only() {
        font-size: 20px;
      }
    }
  }

  &--trending {
    @include mobile-only() {
      .card {
        &__footer {
          width: calc(100% - 32px);
          display: flex;
          justify-content: space-between;
          align-items: center;

          .about {
            .optional-dot,
            .PG {
              display: none;
            }
          }

          .rate {
            display: flex;
            align-items: center;
            justify-content: center;
            @include body-S();
            width: 34px;
            height: 21px;
            background-color: hsl(0, 0%, 100%, 0.5);
            border-radius: 10px;
          }
        }
      }
    }
  }

  &--recommendation {
    margin-top: 40px;

    @include mobile-only() {
      margin-top: 24px;
    }

    .card {
      width: 280px;
      height: 226px;

      @include tablet-only() {
        width: 220px;
        height: 192px;
      }

      @include mobile-only() {
        width: 164px;
        height: 154px;
      }

      // @include mobile-only(){
      //   width: ;
      // }

      &__main {
        height: 174px;
        @include tablet-only() {
          height: 140px;
        }

        @include mobile-only() {
          height: 110px;
        }
        .thumbnail {
        }
      }

      &__footer {
        bottom: 0;
        left: 0;
        .metadata {
          margin-top: 8px;
          @include mobile-only() {
            font-size: 11px;
            gap: 6px;
          }
        }

        .title {
          @include heading-XS();
          margin-top: 5px;

          @include mobile-only() {
            font-size: 14px;
          }
        }
      }
    }

    .container {
      display: flex;
      flex-wrap: wrap;
      column-gap: 40px;
      row-gap: 32px;
      overflow: auto;
      height: auto;
      margin-bottom: 52px;

      @include tablet-only() {
        column-gap: 29px;
        row-gap: 24px;
      }

      @include mobile-only() {
        column-gap: 15px;
        row-gap: 16px;
      }
    }
  }
}

.container {
  position: relative;
  width: 100%;
  height: 230px;
  //   overflow: hidden;
  overflow-x: scroll;

  @include mobile-only() {
    height: 140px;
  }
}

.viewport {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: row;
  gap: 40px;
  //   overflow-x: scroll;
  //   overflow-y: hidden;
  //   flex-wrap: nowrap;
  //   scroll-behavior: smooth;
  //   scroll-snap-type: x mandatory;
}
