$color-primary: #fc4747;
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;500&display=swap");

$color-error: #fc4747;
$bg-color-primary: #10141e;
$bg-color-secondary: #161d2f;
$txt-color-primary: #fff;
$txt-color-secondary: #5a698f;

$heading-L: 32px;
$heading-M: 24px;
$heading-S: 24px;
$heading-XS: 18px;
$font-primary: 15px;
$font-primary-mobile: 13px;

h1,
h2,
h3,
p {
  margin: 0;
}

@mixin heading-L() {
  font-size: 32px;
  font-weight: 300;
}

@mixin heading-M() {
  font-size: 24px;
  font-weight: 300;
}

@mixin heading-S() {
  font-size: 24px;
  font-weight: 500;
}

@mixin heading-XS() {
  font-size: 18px;
  font-weight: 500;
}

@mixin body-S {
  font-size: 13px;
  font-weight: 300;
}

@mixin body-M {
  font-size: 15px;
  font-weight: 300;
}

@mixin mobile-only {
  @media all and (max-width: 600px) {
    @content;
  }
}

@mixin tablet-only {
  @media all and (max-width: 768px) {
    @content;
  }
}

html {
  font-size: $font-primary;
}

body {
  position: relative;
  margin: 0;
  font-family: "Outfit", sans-serif;
  font-weight: 300;
  background-color: $bg-color-primary;
  color: $txt-color-primary;
}

.main {
  margin-left: 164px;
  margin-top: 130px;

  @include tablet-only() {
    margin-top: 193px;
    margin-left: 25px;
  }

  @include mobile-only() {
    margin-top: 128px;
    margin-left: 16px;
  }
}

.section {
  //   overflow: hidden;
  &__header {
    margin-bottom: 25px;

    @include mobile-only() {
      margin-bottom: 16px;
    }
    &__title {
      @include heading-L();

      @include mobile-only() {
        font-size: 20px;
      }
    }
  }

  &--trending {
    @include mobile-only() {
      .card {
        &__footer {
          width: calc(100% - 32px);
          display: flex;
          justify-content: space-between;
          align-items: center;

          .about {
            .optional-dot,
            .PG {
              display: none;
            }
          }

          .rate {
            display: flex;
            align-items: center;
            justify-content: center;
            @include body-S();
            width: 34px;
            height: 21px;
            background-color: hsl(0, 0%, 100%, 0.5);
            border-radius: 10px;
          }
        }
      }
    }
  }

  &--recommendation {
    margin-top: 40px;

    @include mobile-only() {
      margin-top: 24px;
    }

    .card {
      width: 280px;
      height: 226px;

      @include tablet-only() {
        width: 220px;
        height: 192px;
      }

      @include mobile-only() {
        width: 164px;
        height: 154px;
      }

      &__main {
        height: 174px;
        @include tablet-only() {
          height: 140px;
        }

        @include mobile-only() {
          height: 110px;
        }
      }

      &__footer {
        bottom: 0;
        left: 0;
        .metadata {
          margin-top: 8px;
          @include mobile-only() {
            font-size: 11px;
            gap: 6px;
          }
        }

        .title {
          @include heading-XS();
          margin-top: 5px;

          @include mobile-only() {
            font-size: 14px;
          }
        }
      }
    }

    .container {
      display: flex;
      flex-wrap: wrap;
      column-gap: 40px;
      row-gap: 32px;
      overflow: auto;
      height: auto;
      margin-bottom: 52px;

      @include tablet-only() {
        column-gap: 29px;
        row-gap: 24px;
      }

      @include mobile-only() {
        column-gap: 15px;
        row-gap: 16px;
      }
    }
  }
}

.container {
  position: relative;
  width: 100%;
  height: 230px;
  //   overflow: hidden;
  overflow-x: scroll;

  @include mobile-only() {
    height: 140px;
  }
}

.viewport {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.Login.main {
  margin: 0;
}

.Login > .header,
.Signup > .header {
  position: relative;
  display: inline-flex;
  justify-content: center;
  width: 100%;
  top: 0;
  left: 0;
  margin-top: 78px;
  margin-bottom: 83px;

  @include tablet-only() {
    margin-top: 72px;
    margin-bottom: 80px;
  }

  @include mobile-only() {
    margin-top: 48px;
    margin-bottom: 58px;
  }
}

.section--login,
.section--signup {
  background-color: $bg-color-secondary;
  margin: 0 auto;
  width: calc(400px - 2 * 32px);
  padding: 32px;
  border-radius: 20px;
  @include body-M();

  @include mobile-only() {
    width: calc(((327 / 375) * 100vw) - (2 * 24px));
    padding: 24px;
  }

  .section {
    &__header {
      margin-bottom: 40px;
      .title {
        @include heading-L();
      }
    }

    &__main {
      width: 100%;
      margin-bottom: 24px;
      .form {
        &__element {
          position: relative;

          .error-msg {
            color: $color-error;
            @include body-S();
            position: absolute;
            top: 50%;
            right: 17px;
            transform: translateY(calc(-50% - 17px));
            // visibility: hidden;
          }
          .input {
            position: relative;
            width: calc(100% - 16px);
            background-color: transparent;
            border: none;
            border-bottom: 1px solid $txt-color-secondary;
            padding-bottom: 17px;
            padding-left: 16px;
            @include body-M();
            margin-bottom: 24px;
            caret-color: $color-primary;
            color: #fff;

            &:focus {
              outline: none;
            }

            &:last-child {
              margin-bottom: 40px;
            }
          }
        }

        .error {
          .input {
            position: relative;
            // background-color: aqua;
            border-bottom-color: $color-error;
          }
        }

        .btn--submit {
          width: 100%;
          background-color: $color-primary;
          color: #fff;
          @include body-M();
          height: 48px;
          border-radius: 6px;
          border: none;
          cursor: pointer;

          &:hover {
            cursor: pointer;
            transition: all 300ms;
            background-color: #fff;
            color: $bg-color-secondary;
          }
        }
      }
    }

    &__footer {
      text-align: center;
      .text {
        .link {
          color: $color-primary;
          text-decoration: none;
        }
      }
    }
  }
}

// ::before{
//   content: ' hellloooooo';
//   position: absolute;
//   left: 0;
//   top: 0;
//   // color: red;
//   // font-size: 40px;
//   height: 40px;
//   width: 50px;
//   background-color: #fc4747;
//   z-index: 100;
// }
